{% from "templates/macros/icon.html" import icon %}

<nav  class="text-sm font-medium text-gray-700 hidden md:flex mt-3 mb-8" aria-label="breadcrumb">
    <ol class="flex flex-wrap items-center gap-1">
        <li class="flex items-center gap-1">
            <a href="/" class="hover:text-accent ">{{_("Home")}}</a>
            {{icon(name="arrow-right",classes="h-4 w-4")}}
        </li>
        {% for breadcrumb in breadcrumbs %}
        <li class="flex items-center gap-1">
            <a href="{{breadcrumb.href}}" class="hover:text-accent ">{{_(breadcrumb.label)}}</a>
            {% if not loop.last %}
            {{icon(name="arrow-right",classes="h-4 w-4")}}
            {% endif %}
        </li>
        {% endfor %}
    </ol>
</nav>
